.title {
    font-family: Inter, sans-serif !important !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    letter-spacing: 0.2em !important;
    text-transform: uppercase !important;

    color: #000 !important;
}
