.card {
    background-color: var(--mantine-color-body);
    max-width: 685px;
    display: flex;
    flex-direction: row;
}

.card img {
    width: 280px;
    max-height: 220px;
    height: 100%;
}

.title {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    line-height: 1;
}