.title {
    color: #000 !important;
    font-family: Bebas Neue, serif !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal;
    letter-spacing: 1.6px !important;
}